<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Angular 2 & Bootstrap</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="employees" routerLinkActive="active">Employees</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/echosanjeet" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/echosanjeet" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </nav>
  <br />
  <router-outlet></router-outlet>
